<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FinalTaskServlet</servlet-name>
        <servlet-class>FinalTask.FinalTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>FinalTask.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrator</servlet-name>
        <servlet-class>FinalTask.Registrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewList</servlet-name>
        <servlet-class>FinalTask.ViewList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parameter</servlet-name>
        <servlet-class>FinalTask.Parameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attribute</servlet-name>
        <servlet-class>FinalTask.Attribute</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinalTaskServlet</servlet-name>
        <url-pattern>/FinalTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrator</servlet-name>
        <url-pattern>/Registrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewList</servlet-name>
        <url-pattern>/ViewList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parameter</servlet-name>
        <url-pattern>/Parameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attribute</servlet-name>
        <url-pattern>/Attribute</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
